In [1]:
import pandas as pd
import sqlite3

In [2]:

# Connessione al database SQLite
conn = sqlite3.connect('C:/Users/gigio/Desktop/progetti Phython/api_currencies_projet/data/currency.db')  # Sostituisci con il nome del tuo file .db

# Carica la tabella in un DataFrame
df = pd.read_sql_query("SELECT * FROM storic_currencies_table_official", conn)


# Chiudi la connessione
conn.close()

In [3]:
df

,base_currency,date,corresponding_currency,corresponding_currency_value
0,EUR,2001-12-31,AUD,1.74680
1,EUR,2001-12-31,BGN,1.95290
2,EUR,2001-12-31,CAD,1.43880
3,EUR,2001-12-31,CHF,1.48260
4,EUR,2001-12-31,CYP,0.57547
...,...,...,...,...
37846,EUR,2024-11-04,SGD,1.43560
37847,EUR,2024-11-04,THB,36.73600
37848,EUR,2024-11-04,TRY,37.45300
37849,EUR,2024-11-04,USD,1.09040
37850,EUR,2024-11-04,ZAR,19.12480